@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font: 400 10px "Zilla Slab", serif;
  background: #000;
}

picture source {
  max-width: 100vw;
  max-height: 90vh;
}

h1 {
  font-size: 3.6em;
  color: #cd7f32;
  background: none;
  text-shadow: 2px 2px #000;
  text-align: center;
  margin: 20px 0px;
  z-index: 2;
}

h2 {
  font-size: 2.4em;
  color: #cd7f32;
  margin: 25px 5vw 10px 5vw;
}

#bottomPageBookmark {
  margin-top: 10vh;
}

p {
  font-size: 1.6em;
  color: #fff;
  margin: 0px 10vw 0px 5vw;
}

.footerLink {
  font-size: 1.4em;
  text-decoration: none;
  color: #daa520;
}

.creditList {
  font-size: 1.2em;
  font-weight: 300;
  color: #cd7f32;
}
.creditList a {
  font-weight: 400;
  color: #daa520;
  text-decoration: underline;
}

label {
  font-size: 1.6em;
  color: #fff;
}

input {
  font-size: 1.6em;
}

.showMoreBtn {
  font-size: 1.4em;
  font-weight: 300;
  color: #000;
}

.formSwitchBtn {
  font-size: 1.8em;
  font-weight: 500;
  color: #daa520;
}

.totalCostText {
  font-size: 1.6em;
  color: #000;
  text-align: left;
}

.textExtraConfirm {
  font-size: 1.6em;
  text-align: center;
  color: #daa520;
}

@media (min-width: 768px) {
  h1 {
    font-size: 7.2em;
    margin: 40px;
  }

  h2 {
    font-size: 3.6em;
  }

  p {
    font-size: 2.4em;
  }

  .footerLink {
    font-size: 1.8em;
  }

  label {
    font-size: 2.4em;
    color: #fff;
  }

  .showMoreBtn {
    font-size: 1.6em;
    font-weight: 300;
    color: #000;
  }

  .formSwitchBtn {
    font-size: 2.4em;
    font-weight: 500;
    color: #daa520;
  }

  input {
    font-size: 2.4em;
  }

  .totalCostText {
    font-size: 1.8em;
    text-align: left;
    width: 100%;
  }

  .textExtraConfirm {
    font-size: 2.4em;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 8em;
  }
}
.topPageFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.bottomPageFlex {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
}

.contactPageFlex {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  align-items: center;
}

.contactUsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activeFormFlex {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.inactiveFormFlex {
  display: none;
}

.cakeFormSubFlex {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100vw;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.textExtraForm {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.totalCostFlex {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

.oneBtnSwitchFlex {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.twoBtnSwitchFlex {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

@media (min-width: 768px) {
  .cakeFormSubFlex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 200vw;
    height: 75px;
    justify-content: center;
    align-items: center;
  }

  .oneBtnSwitchFlex {
    margin: 0px auto;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  justify-content: space-around;
}
.navbar a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 3px solid #daa520;
  height: 10vh;
  text-align: center;
  color: #fff;
  width: 100px;
}

@media (min-width: 768px) {
  .navbar a {
    font-size: 3.6em;
    border-bottom: 5px solid #daa520;
    width: 200px;
  }
}
/*@include xl {
    .navbar {
        justify-content: flex-end;

        a {
            margin-right: 2.5vw;
        }
    }
}*/
.footerFlex {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #daa520;
}

.topPageFlex {
  background-image: url(/img/PastryShop\(768px\)-min.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 90vh;
}

@media (min-width: 768px) {
  .topPageFlex {
    background-image: url(/img/PastryShop\(1200px\)-min.jpg);
  }
}
@media (min-width: 1200px) {
  .topPageFlex {
    background-image: url(/img/PastryShop\(Desktop-Aspect-Ratio\).png);
  }
}
/*img {
    display: block;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 90vh;
    z-index: 1;
}

@include xl {
    img {
        top: 0;
        left: 0;
        width: 50vw;
        height: 100vh;
    }
}*/
.contactUsForm input {
  margin-bottom: 20px;
}
.contactUsForm input[type=text] {
  border: 2px solid #daa520;
  height: 30px;
}
.contactUsForm input[type=text]:focus {
  border: 3px solid #daa520;
  background-color: #000;
  color: #daa520;
}
.contactUsForm input[type=email] {
  border: 2px solid #daa520;
  height: 30px;
}
.contactUsForm input[type=email]:focus {
  border: 3px solid #daa520;
  background-color: #000;
  color: #daa520;
}
.contactUsForm input[type=submit] {
  width: 100px;
  height: 50px;
  border: 3px solid #daa520;
  background-color: #000;
  color: #daa520;
  font-size: 1.8em;
}

#textExtra {
  width: 150px;
  height: 50px;
  padding: 0px 10px;
  border: 2px solid #daa520;
}

.customLabel {
  width: 150px;
}

@media (min-width: 768px) {
  .contactUsForm input {
    margin-bottom: 30px;
  }
  .contactUsForm input[type=text] {
    border: 3px solid #daa520;
    height: 40px;
  }
  .contactUsForm input[type=text]:focus {
    border: 4px solid #daa520;
    background-color: #000;
    color: #daa520;
  }
  .contactUsForm input[type=email] {
    border: 3px solid #daa520;
    height: 40px;
  }
  .contactUsForm input[type=email]:focus {
    border: 4px solid #daa520;
    background-color: #000;
    color: #daa520;
  }
  .contactUsForm input[type=submit] {
    width: 150px;
    height: 75px;
    border: 4px solid #daa520;
    background-color: #000;
    color: #daa520;
    font-size: 2.4em;
  }

  #textExtra {
    width: 250px;
    height: 75px;
    padding: 0px 10px;
    border: 3px solid #daa520;
  }

  .customLabel {
    width: 250px;
  }
}
.pageDownBtn i {
  font-size: 5em;
  color: #daa520;
  background: none;
  position: absolute;
  top: 90%;
  left: 85%;
  z-index: 3;
}

.pageUpBtn i {
  font-size: 5em;
  color: #daa520;
  background: none;
  position: absolute;
  top: 105%;
  left: 85%;
  z-index: 3;
}

.totalCostBtn {
  width: 250px;
  height: 75px;
  background-color: #daa520;
  border: 2px solid #000;
  border-radius: 1em;
}

.customInput {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 2px solid #daa520;
}

.showMoreBtn {
  width: 100px;
  height: 25px;
  background: #daa520;
  border: 3px solid #000;
  border-radius: 1em;
}

.formSwitchBtn {
  width: 140px;
  height: 50px;
  margin-top: 50px;
  background-color: #000;
  border: 4px solid #daa520;
}

.textExtraConfirm {
  width: 100px;
  height: 30px;
  background: #000;
  border: 3px solid #daa520;
}

@media (min-width: 768px) {
  .pageDownBtn i {
    font-size: 8em;
  }

  .pageUpBtn i {
    font-size: 8em;
  }

  .customInput {
    width: 40px;
    height: 40px;
    background: #fff;
    border: 3px solid #daa520;
  }

  .showMoreBtn {
    width: 125px;
    height: 40px;
    background: #daa520;
    border: 3px solid #000;
    border-radius: 1em;
  }

  .formSwitchBtn {
    width: 200px;
    height: 75px;
    margin-top: 50px;
    background-color: #000;
    border: 4px solid #daa520;
  }

  .totalCostBtn {
    width: 350px;
    height: 125px;
    border: 4px solid #000;
    border-radius: 1em;
  }

  .textExtraConfirm {
    width: 200px;
    height: 60px;
    background: #000;
    border: 4px solid #daa520;
  }
}
@media (min-width: 1200px) {
  .pageDownBtn i {
    font-size: 12em;
    top: 80%;
    left: 95%;
  }

  .pageUpBtn i {
    font-size: 12em;
    left: 95%;
  }

  .totalCostBtn {
    width: 500px;
    height: 10vh;
    border: 8px solid #000;
    border-radius: 1em;
  }
}