@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

* {
    font: 10px 'Zilla Slab', serif;
    box-sizing: border-box;
}

html {
    background-color: $background;
    border-left: 10px solid $primary;
    border-right: 10px solid $primary;
}