.pageDownBtn {
    i {
    font-size: 5em;
    color: $primary;
    background: none;
    position: absolute;
    top: 90%;
    left: 85%;
    z-index: 3;
    }
}
.pageUpBtn i {
    font-size: 5em;
    color: $primary;
    background: none;
    position: absolute;
    top: 105%;
    left: 85%;
    z-index: 3;
}

.totalCostBtn {
    width: 250px;
    height: 75px;
    background-color: $primary;
    border: 2px solid $black;
    border-radius: 1em;
}
.customInput {
    width: 30px;
    height: 30px;
    background: $white;
    border: 2px solid $primary;
}
.showMoreBtn {
    width: 100px;
    height: 25px;
    background: $primary;
    border: 3px solid $black;
    border-radius: 1em;
}
.formSwitchBtn {
    width: 140px;
    height: 50px;
    margin-top: 50px;
    background-color: $black;
    border: 4px solid $primary;
}
.textExtraConfirm {
    width: 100px;
    height: 30px;
    background: $black;
    border: 3px solid $primary;
}
// Medium breakpoint (768px)
@include md {
    .pageDownBtn i {
        font-size: 8em;
    }
    .pageUpBtn i {
        font-size: 8em;
    }    
    .customInput {
        width: 40px;
        height: 40px;
        background: $white;
        border: 3px solid $primary;
    }
    .showMoreBtn {
        width: 125px;
        height: 40px;
        background: $primary;
        border: 3px solid $black;
        border-radius: 1em;
    }
    .formSwitchBtn {
        width: 200px;
        height: 75px;
        margin-top: 50px;
        background-color: $black;
        border: 4px solid $primary;
    }
    .totalCostBtn {
        width: 350px;
        height: 125px;
        border: 4px solid $black;
        border-radius: 1em;
    }
    .textExtraConfirm {
        width: 200px;
        height: 60px;
        background: $black;
        border: 4px solid $primary;
    }
}

@include xl {
    .pageDownBtn i {
        font-size: 12em;
        top: 80%;
        left: 95%;
        }
    .pageUpBtn i {
        font-size: 12em;
        left: 95%;
    }

    .totalCostBtn {
        width: 500px;
        height: 10vh;
        border: 8px solid $black;
        border-radius: 1em;
    }
}