.topPageFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90vh;
}


.bottomPageFlex {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
}

.contactPageFlex {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    align-items: center;
}

.contactUsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
// Custom Page Forms

.activeFormFlex {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    align-items: center;
}
.inactiveFormFlex {
    display: none;
}
.cakeFormSubFlex {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100vw;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.textExtraForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.totalCostFlex {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

.oneBtnSwitchFlex {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.twoBtnSwitchFlex {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

@include md {
    .cakeFormSubFlex {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 200vw;
        height: 75px;
        justify-content: center;
        align-items: center;
    }
}