h1 {
    font-size: 3.6em;
    color: $secondary;
    background: none;
    text-align: center;
    margin: 20px 0px;
    z-index: 2;
}
@include md {
    h1 {
        font-size: 7.2em;
        margin: 40px;
    }    
}

@include xl {
    h1 {
        margin-right: 12.5vw;
    }
}

h2 {
    font-size: 2.4em;
    color: $secondary;
    margin: 25px 5vw 10px 5vw;
}
#bottomPageBookmark {
    margin-top: 10vh;
}

p {
    font-size: 1.6em;
    color: $white;
    margin: 0px 10vw 0px 5vw;
}

.footerLink {
    font-size: 1.4em;
    text-decoration: none;
    color: $primary;
}