img {
    display: block;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 90vh;
    z-index: 1;
}

/*@include xl {
    img {
        top: 0;
        left: 0;
        width: 50vw;
        height: 100vh;
    }
}*/