.topPageFlex {
    background-image: url(/img/PastryShop\(768px\)-min.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
}
@include md {
    .topPageFlex {
        background-image: url(/img/PastryShop\(1200px\)-min.jpg);
    }
}
@include xl {
    .topPageFlex {
        background-image: url(/img/PastryShop\(Desktop-Aspect-Ratio\).png);
    }
}
/*img {
    display: block;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 90vh;
    z-index: 1;
}

@include xl {
    img {
        top: 0;
        left: 0;
        width: 50vw;
        height: 100vh;
    }
}*/